.VCO2 {
  grid-row: span 3;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;

  .waveShape {
    .labels .label:last-child .child {
      transform: translate(-23%, -50%);
    }
  }
  
  .pitch {
    font-size: 0.8em;
  }
}