.Volume {
  padding: 1em;
  display: flex;
  flex-direction: column;

  .Knob {
    margin-bottom: 2em;
    .labels .label:first-child .child {
      transform: translate(0, -50%);
    }
  }

  .indicator {
    align-self: flex-start;
  }
}