.Volume {
  grid-row: span 1;
  
  .dials {
    display: flex;
    flex-direction: column;

    .Knob {
      margin-bottom: 1em;
      .labels .label:first-child .child {
        transform: translate(0, -50%);
      }
    }
  
    .indicator {
      align-self: flex-start;
    }
  }
}