#root {
  width: 100%;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  min-height: 100vh;
  place-content: center;
  gap: 1px;
  padding: 1px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding-bottom: var(--keyboard-height);

  --keyboard-height: 20vh;

  --bg-color: black;
  --fg-color: #333;
  --text-color: white;
  
  &.light {
    --bg-color: white;
    --fg-color: #CCC;
    --text-color: black;
  }

  .module {
    border: solid var(--text-color) 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
  }

  .keyboardDock {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-x: scroll;
    z-index: 1;
    height: var(--keyboard-height);
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}