.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  --bg-color: black;
  --fg-color: #333;
  --text-color: white;
  
  &.light {
    --bg-color: white;
    --fg-color: #CCC;
    --text-color: black;
  }

  color: var(--text-color);
  background-color: var(--bg-color);
  padding-bottom: var(--keyboard-height);

  .Synth {
    display: flex;
    flex-direction: column;

    .Knobs {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
      place-content: center;
      gap: 1px;

      .module {
        border: solid var(--text-color) 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
      }
    }
  
    --keyboard-height: 20vh;
    
    .keyboardDock {
      position: sticky;
      bottom: 0;
      width: 100%;
      overflow-x: scroll;
      z-index: 1;
      height: var(--keyboard-height);
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}