.Knob {
  position: relative;
  width: 100%;
  height: 100%;

  .visual {
    pointer-events: none;
    width: 100%;
    height: 100%;

    --top-color: var(--fg-color, #333);
    --top-edge-color: var(--bg-color, #111);
    --pointer-color: var(--text-color, white);
    --bottom-color: var(--fg-color, #333);
  }

  .input {
    cursor: grab;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    rotate: -90deg;
    opacity: 0;
    clip-path: circle(50%);

    &:active {
      cursor: grabbing;
    }
  }

  .label {
    pointer-events: none;
    position: absolute;
    display: none;
  }
}